<head>
  <title>
    Leaderboard
  </title>
  <link rel='stylesheet' href='/stylesheets/leaderboard.css' />
</head>

<nav>
  <ul>
    <li><a href="/">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/timestablegame">Times Table Game</a></li>
    <li><a class="active" href="/leaderboard">Leaderboard</a></li>
  </ul>
</nav>

<body>
  <h1>Leaderboard Page</h1>
  <p>Page for users to see the highest scores</p>
  <section>
    <a href="/timestablegame">Times Table Game</a>
  </section>
</body>

</html>