<head>
  <title>
    Login
  </title>
  <link rel='stylesheet' href='../identity-server/public/stylesheets/login.css' />
</head>

<body>
  <main id="page-content">
    <section class="image"></section>
    <section class="login-section">
      <section class="login-card">
        <h1 class="login-header">Login</h1>
        <form id="form" action="/auth" method="POST">
          <input id="username" name="username" type="text" required placeholder="Username">
          <input id="password" name="password" type="password" required placeholder="Password">
          <input type="submit" value="Login" id="login-button">
          <p class="register-text">
            Not a member? <a href="/register" style="text-decoration:none;">Register here</a>
          </p>
        </form>
      </section>
    </section>
  </main>

</body>

</html>
