:root {
    --text_color: rgb(70, 62, 67);
    --button-color: #3F51B5;
    --nav_color: #afbbff;
    --button-hover-color:#1e2759;
    --submit-text-color: #FFFF;
    --background_colour: rgb(242, 237, 231);
    --backgroung_color_inv: rgba(242, 237, 231, 0);
    --background_colour_op: rgba(242, 237, 231, .5)
}

* {
    padding: 0%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--nav_color);
}

nav a {
    color: var(--text_color);
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    transition: color 0.3s ease;
    font-family: 'Arial', sans-serif;
}

nav a:hover {
    color: #b63333;
}

nav a.active {
    color: #333cb6;
}

body{
    background-color: var(--background_colour);
    width: 100vw;
    height: 100vh;
}

h1{
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
    color: var(--text_color);
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

p {
    text-align: center;
    color: var(--text_color);
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}