<head>
  <title>
    Register
  </title>
  <link rel='stylesheet' href='../public/stylesheets/register.css' />
</head>

<body>
  <main id="page-content">
    <section class="login-section">
      <section class="login-card">
        <h1 class="login-header">Register</h1>
        <form id="form" action="/identity/register" method="POST">
          <input id="username" name="username" type="text" required placeholder="Username">
          <input id="password" name="password" type="password" required placeholder="Password">
          <input type="submit" value="Register" id="login-button">
          <section id="login-loader" class="loader hidden"></section>
          <p class="register-text">
            Already a member? <a href="/login" style="text-decoration:none;">Login here</a>
          </p>
        </form>
      </section>
    </section>
  </main>

</body>

</html>